.main-wrapper{
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.top-bar{
    width: 100%;
    background-color: #FDFDFE;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1rem 1.25rem;
}

.content-wrapper{
    flex: 1;
    display: flex;
    padding: 1.25rem;
    gap: 1.25rem;
    background: radial-gradient(
        circle at 20% 40%,
        rgba(220, 235, 255, 0.7) 0%,
        rgba(220, 235, 255, 0.3) 30%,
        rgba(255, 255, 255, 0) 70%
      ),
      radial-gradient(
        circle at 80% 60%,
        rgba(255, 221, 187, 0.7) 0%,
        rgba(255, 221, 187, 0.3) 30%,
        rgba(255, 255, 255, 0) 70%
      );
}

.left-panel, .right-panel{
    flex: 1;
    background-color: #ffffff;
    box-shadow: 0px 20px 40px rgba(15, 35, 52, 0.08), 0px 4px 12px rgba(15, 35, 52, 0.04);
    border-radius: 1.5rem;
    padding: 1.5rem;
    overflow-y: auto;
}